
<div class="container col-md-8 offset-md-2">
    <h1>Sample review tool</h1>


    <div class="row">
      <div class="col-md-6 card">

          <div class="card-body">
            <h3 class="card-title">Show me restaurants</h3>
            <p class="card-text">Tool for reviews of restaurants.</p>
            <a href="words/home" class="btn btn-primary">Go to my tools</a>
          </div>

      </div>
      <div class="col-md-6 card">

          <div class="card-body">
            <h3 class="card-title">Show me restaurants</h3>
            <p class="card-text">Tool for reviews of restaurants.</p>
            <a href="#" class="btn btn-primary">Go to other toolss</a>
            <%= link_to "Find places", home_path, :class => "btn btn-primary", remote: true %>

          </div>

      </div>
      <div class="col-md-6 card">

          <div class="card-body">
            <h3 class="card-title">Show me restaurants</h3>
            <p class="card-text">Tool for reviews of restaurants.</p>
            <a href="#" class="btn btn-primary">Go to tool</a>
          </div>

      </div>
      <div class="col-md-6 card">

          <div class="card-body">
            <h3 class="card-title">Show me restaurants</h3>
            <p class="card-text">Tool for reviews of restaurants</p>
            <a href="#" onclick="this.style.backgroundColor='#990000'">Paint it red</a>
          </div>

      </div>

    </div>

</div>
